.col{
    float:left;
    text-align: center;
    display: inline;
    width: 100%;
}

.col:hover{
    background-color: gray;
}

@media (min-width: 600px) {
    .col{
        width: 50%;
    }
}

@media (min-width: 800px) {
    .col{
        width: 33.33%;
    }
}

@media (min-width: 1000px) {
    .col{
        width: 25%;
    }
}

@media (min-width: 1200px) {
    .col{
        width: 20%;
    }
}
